.upper_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 15px;
}

.right_bar{
    height: auto;
}

.symptom_sec{
    margin-top: 50px;
}


