.sidebar{
    background-color: #00008B;
    height: 100vh;
    width: 10vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    
}

.mid_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.sun_icon{
    margin-top: 40px;
    cursor: pointer;
}

.setting_icon{
    margin-bottom: 40px;
    cursor: pointer;
}